<?xml version="1.0"?>
<config>
  <modules>
    <Vivat_Landing>
      <version>0.1.0</version>
    </Vivat_Landing>
  </modules>
  <frontend>
    <routers>
      <landing>
        <use>standard</use>
          <args>
            <module>Vivat_Landing</module>
            <frontName>landing</frontName>
          </args>
      </landing>
    </routers>
		<layout>
		  <updates>
			<landing>
			  <file>vivat/landing.xml</file>
			</landing>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <landing>
        <class>Vivat_Landing_Helper</class>
      </landing>
    </helpers>
	<blocks>
	  <landing>
		<class>Vivat_Landing_Block</class>
	  </landing>
	</blocks>
  </global>
</config> 