<?xml version="1.0"?>
<config>
    <modules>
        <Evopin_Fancypopup>
            <version>0.0.1</version>
        </Evopin_Fancypopup>
    </modules>
    <admin>
        <routers>
			<fancypopup>
				<use>admin</use>
				<args>
					<module>Evopin_Fancypopup</module>
					<frontName>fancypopup</frontName>
				</args>
			</fancypopup>
        </routers>
    </admin>
    <adminhtml> 
        <translate>
            <modules>
                <Evopin_Fancypopup>
                    <files>
                        <default>Evopin_Fancypopup.csv</default>
                    </files>
                </Evopin_Fancypopup>
            </modules>
        </translate>        
        <menu>
            <cms>
                <children>
                    <fancypopup module="fancypopup">
                        <title>Fancy Popup</title>
                        <action>fancypopup/adminhtml_fancypopup</action>
                        <sort_order>90</sort_order>
                    </fancypopup>
                </children>   
            </cms>
        </menu>   
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<fancypopup translate="title" module="fancypopup">
											<title>Fancypopup</title>
										</fancypopup>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fancypopup>
					<file>evopin/fancypopup.xml</file>
				</fancypopup>
			</updates>
		</layout>
    </adminhtml>        
    <frontend>
    	<routers>
			<fancypopup>
				<use>standard</use>
				<args>
					<module>Evopin_Fancypopup</module>
					<frontName>fancypopup</frontName>
				</args>
			</fancypopup>
        </routers>
          <layout>
              <updates>
                  <fancypopup module="fancypopup">
                      <file>evopin/fancypopup.xml</file>
                  </fancypopup>
              </updates>
          </layout>          
    </frontend>           
    <global>
        <models>
            <fancypopup>
                <class>Evopin_Fancypopup_Model</class>
                <resourceModel>fancypopup_mysql4</resourceModel>
            </fancypopup>
            <fancypopup_mysql4>
                <class>Evopin_Fancypopup_Model_Mysql4</class>
                <entities>                
                    <fancypopup>
                        <table>evopin_fancypopup</table>
                    </fancypopup>
                    <fancypopup_store>
                        <table>evopin_fancypopup_store</table>
                    </fancypopup_store>
                    <evopin_fancypopup_store>
                        <table>evopin_fancypopup_store</table>
                    </evopin_fancypopup_store>                                      
                </entities>
            </fancypopup_mysql4>
        </models>
        <resources>
            <fancypopup_setup>
                <setup>
                    <module>Evopin_Fancypopup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fancypopup_setup>
            <fancypopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fancypopup_write>
            <fancypopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fancypopup_read>
        </resources>
        <blocks>
            <fancypopup>
                <class>Evopin_Fancypopup_Block</class>
            </fancypopup>
        </blocks>
        <helpers>
            <fancypopup>
                <class>Evopin_Fancypopup_Helper</class>
            </fancypopup>
        </helpers>
    </global>
    <default>
    	<fancypopup>
    		<general>
    			<active>0</active>
    			<jquery>0</jquery>
    			<effect>1</effect>
    			<close>1</close>
    			<overlay_close>0</overlay_close>
    			<always_show>1</always_show>
    			<cookie_lifetime>3600</cookie_lifetime>
    		</general>
    	</fancypopup>
    </default>
</config>